html {
    .logo-font {
        span {
            font-size: 3rem;
        }
        
    }
    .nav-item-font {
        font-size: 1rem;
    }

    .hero-text-font {
        font-size: 2rem;

        @media( min-width: $tabletS-min )
        {
            font-size: 5rem;
        }

        @media( min-width: $tablet-min )
        {
            font-size: 5rem;
        }

        @media( min-width: $desktop-min )
        {
            font-size: 3rem;
        }

        @media( min-width: $desktopHd-min )
        {
            font-size: 5rem;
        }
    }

    .hero-text-intro-font {
        font-size: 0.7rem;

        @media( min-width: $tabletS-min ) {
            font-size: 1rem;
        }

        @media( min-width: $tablet-min ) {
            font-size: 1rem;
        }

        @media( min-width: $desktop-min ) {
            font-size: 1rem;
        }
    }

    .start-container-font {
        a,
        span {
            font-size: 1.2rem;
        }
        
    }
}