// fonts
$font-light: Flama light;
$font-book: Flama book;
$font-basic: Flama basic;
$font-medium: Flama medium;
$nova-flat: Nova flat;

// colors
$primary-color: #71C7E0;
$secondary-color: #DD877B;
$white-color: #fff;
$gray-color: #d9dfdc;

// color rgbs
$primary-color-rgba: rgba(113, 199, 224, 0.7);
$secondary-color-rgba: rgba(221, 135, 123, 0.7);

// grid
$desktopHd-min: 1440px;
$container-desktopHd: 1240px;
$desktop-min: 1024px;
$container-desktop: 960px;
$tablet-min: 768px;
$container-tablet: 688px;
$tabletS-min: 480px;
$mobile-min: 320px;
